body {
  font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
  line-height: 1.5;
  margin: 32px;
}

.app-shell {
  border: 1px solid #6c2bc7;
  height: calc(100vh - 64px - 2px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.app-content {
  flex: 1;
  padding: 32px;
  display: flex;
  flex-direction: column;
}
